* {
    margin: 0px;
    font-family: roboto;
    
}

.wrapper * {
    font-size: large;
}

.body  {
    height: 100vh;
   
    margin: 0px;
    padding: 0px;
}



.wrapper {
    
    display: flex;
    justify-content: center;
    background-color: paleturquoise;
    height: 100vh;
    align-items:flex-start;
}

.calc-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: pink;
    border-radius: 10px;
    
}

.display-container {
    display: flex;
    height: 40px;
    width: 300px;
    border: 1px solid black;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: x-large;
    margin-top: 50px;
    background-color: white;;
    
}

.display {
    font-color: black
}

.button-wrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    flex-wrap: wrap;
}


.clearing {
    display:flex;

}



.number-container {
    
    display:flex;
    flex-direction: row-reverse;    
    justify-content: flex-end;
    
    width: 300px;
    flex-wrap: wrap-reverse;
}

.number-button {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 10%;
    color: white;
}

.operator-container {
    
    display:flex;
    width: 300px;

}

.operator-button {
    width: 100px;
    height: 50px;
    background-color:deepskyblue;
    border-radius: 30%;
    color: white;
}
    

.equals-container {
    
    display:flex;
        
    justify-content: center;
    
    width: 300px;
}

.equals-button {
    width: 100%;
    height: 50px;
    background-color:deepskyblue;
    border-radius: 10px;
    color: white;
}

.clear-button {
    width: 300px;
    background-color:deepskyblue;
    border-radius: 10px;
}
.delete-button, .decimal-button {
    background-color:red;
    border-radius: 30%;
    color: black
}
.delete-button, .decimal-button, .zero-button {
    width: 33.3333%;
    height: 50px;
    border-radius: 30%;
}

